body
{
    margin: 0 !important;
    background-color: #3a565e;
    font-family: 'Lato', sans-serif;

}
table
{
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #dad9d9;
}
td, th
{
    padding: 8px;
    border: 1px solid #dad9d9;

}
th
{
    text-align: center;
    border-bottom: 3px solid #dad9d9;
    background-color:  #3a565e;
}
td
{
    text-align: left;
}
#tab
{
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
}
#container
{
    width: 100%;

}
#header
{

    width: 100%;
    padding: 15px 0;
    background-color: #5e8691;
    color: whitesmoke;
    text-align: center;
    font-size: 20px;
}
#content
{
    min-height: 905px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;

    background-color: #5d6a6e;
    color: whitesmoke;

}

#footer
{

    text-align: center;
    padding: 10px;
    background-color: #5e8691;
}
#txt
{
    font-size: 20px;
    text-align: center;
    padding-bottom: 15px ;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
  }
